<!DOCTYPE html>
<html>
<head>
  <title>Nomster</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav class="navbar navbar-inverse" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
        <!--<a class="navbar-brand" href="#">Nomster</a>-->
        <%= link_to 'Nomster', root_path, class: 'navbar-brand' %>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <!--<li><a href="#">Link</a></li>-->
        <li>
          <%= link_to new_places_path do %>
            New Place
            <i class="glyphicon glyphicon-plus-sign"></i>
          <% end %>
        </li>
      </ul>
      <!--Search function start -->
      <%=form_tag root_path,{:method=>'get', class:"navbar-form navbar-left", role:"search"}  do%>
      <div class="form-group">
        <%=text_field_tag :search,"",class:"form-control",placeholder:"Search Resturant"%>
      </div>
      <%=submit_tag 'Seach' ,class:"btn btn-default"%>
      <%end%>
      <!--<form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search Resturant">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form> -->
      <!-- Search funtion end -->
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Link</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<%= yield %>

</body>
</html>
